
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap.min.css";
@import "fontawesome-all.min.css";
@import "navbar";
@import "quickstats";
@import "maps";

#map {
    width: 100%;
    height: calc(100vh - 64px);
}

a.navbar-brand {
    color: $text-color;
    font-size: 14px;
}

.search-form input {
    font-size: 12px;
}
