$panel-header-bg: #4E525B;


.modal-container {
    background-color: #ffffff;
    padding: 0;
}

.panel-header {
    background-color: $panel-header-bg;
    color: #fff;
    padding: 12px;
}

.panel-body {
    padding: 6px;
}

.report-body {
    padding: 12px;
}

$border-color: #BDBDBD;
$cell-val: #6D8494;

.report .row {
    padding-top: 8px;
    padding-bottom: 8px;

    .avatar {
        height: 40px;
        width: 40px;
    }

    .cell-val {
        text-align: center;
        color: $cell-val;
    }

    .contact-div {
        padding-top: 14px;
    }
}