$icons-light-blue: #6AC4F7;
$icons-hl-text: #fdfdfd;
$icons-dark-blue: #5cb5e6;
$back-light: #FFFFFF;


.filters{
  background-color:$icons-light-blue;
  font-family:Roboto;
  font-style:small;
  padding:0.5px;

}

.filters select{
  background-color:$back-light;
  font-family:Roboto;
  font-style:small;
  font-size:15px;
}

.filters button{
  background-color:$back-light;
  font-family:Roboto;
  font-style:small;
  font-size:15px;
}

.bd-sidebar {
    height: 100%;
    // overflow-y: auto;
}
.reports-list {
  height: 80vh;
  overflow-y: auto;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .bd-sidebar {
    height: auto;
  }
  .reports-list {
    height: 200px;
    overflow-y: auto;
  }
}